.main-container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  align-content: space-between;
  margin: 0 auto;
  width: 944px;
}
