.main {
  display: grid;
  justify-content: center;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, $size);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    align-content: space-between;
    width: 944px;
  }
}
